<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,292},{102,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{102,51}}</string>
                <key>sourceSize</key>
                <string>{108,57}</string>
            </dict>
            <key>boss2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,386},{67,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,51}}</string>
                <key>sourceSize</key>
                <string>{67,51}</string>
            </dict>
            <key>boss2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,119},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,66}</string>
            </dict>
            <key>boss2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,557},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>boss2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,556},{39,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{39,45}</string>
            </dict>
            <key>boss2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,297},{53,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{53,101}}</string>
                <key>sourceSize</key>
                <string>{55,101}</string>
            </dict>
            <key>boss2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,490},{56,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,67}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>boss2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,596},{52,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{52,102}</string>
            </dict>
            <key>boss2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,119},{61,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{61,66}</string>
            </dict>
            <key>boss2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,556},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>boss2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,853},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>boss2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,184},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>boss2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,184},{21,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,16}}</string>
                <key>sourceSize</key>
                <string>{21,16}</string>
            </dict>
            <key>boss2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,556},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>boss2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,791},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>boss2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,184},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>boss2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,182},{93,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,113}}</string>
                <key>sourceSize</key>
                <string>{93,113}</string>
            </dict>
            <key>boss2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,292},{57,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,92}}</string>
                <key>sourceSize</key>
                <string>{57,92}</string>
            </dict>
            <key>boss2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,698},{91,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,69}}</string>
                <key>sourceSize</key>
                <string>{91,69}</string>
            </dict>
            <key>boss2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,511},{68,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,83}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>boss2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{159,115}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{159,115}}</string>
                <key>sourceSize</key>
                <string>{161,119}</string>
            </dict>
            <key>boss2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,181},{91,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,109}}</string>
                <key>sourceSize</key>
                <string>{91,109}</string>
            </dict>
            <key>boss2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{100,168}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{100,168}}</string>
                <key>sourceSize</key>
                <string>{106,172}</string>
            </dict>
            <key>boss2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,853},{29,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,46}}</string>
                <key>sourceSize</key>
                <string>{29,46}</string>
            </dict>
            <key>boss2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{93,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,115}}</string>
                <key>sourceSize</key>
                <string>{93,115}</string>
            </dict>
            <key>boss2_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,601},{157,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,137}}</string>
                <key>sourceSize</key>
                <string>{159,137}</string>
            </dict>
            <key>boss2_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,853},{72,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,46}}</string>
                <key>sourceSize</key>
                <string>{72,46}</string>
            </dict>
            <key>boss2_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{180,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{180,134}}</string>
                <key>sourceSize</key>
                <string>{180,136}</string>
            </dict>
            <key>boss2_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,511},{80,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>boss2_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,760},{156,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,152}}</string>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>boss2_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,728},{123,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,93}}</string>
                <key>sourceSize</key>
                <string>{123,93}</string>
            </dict>
            <key>boss2_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{77,178}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,178}}</string>
                <key>sourceSize</key>
                <string>{77,182}</string>
            </dict>
            <key>boss2_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,400},{155,116}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{155,116}}</string>
                <key>sourceSize</key>
                <string>{165,122}</string>
            </dict>
            <key>boss2_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,601},{155,113}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{155,113}}</string>
                <key>sourceSize</key>
                <string>{165,121}</string>
            </dict>
            <key>boss2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,184},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>boss2_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,300},{93,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,115}}</string>
                <key>sourceSize</key>
                <string>{93,115}</string>
            </dict>
            <key>boss2_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{83,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>boss2_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,400},{143,154}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{143,154}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>boss2_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,758},{141,134}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{141,134}}</string>
                <key>sourceSize</key>
                <string>{165,134}</string>
            </dict>
            <key>boss2_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,182},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>boss2_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,557},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>boss2_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{152,206}}</string>
                <key>sourceSize</key>
                <string>{154,206}</string>
            </dict>
            <key>boss2_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{165,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,190}}</string>
                <key>sourceSize</key>
                <string>{165,190}</string>
            </dict>
            <key>boss2_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,210},{159,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{159,188}}</string>
                <key>sourceSize</key>
                <string>{159,190}</string>
            </dict>
            <key>boss2_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{143,197}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{143,197}}</string>
                <key>sourceSize</key>
                <string>{145,199}</string>
            </dict>
            <key>boss2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,557},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>boss2_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,593},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{68,67}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>boss2_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,918},{64,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,102}}</string>
                <key>sourceSize</key>
                <string>{66,102}</string>
            </dict>
            <key>boss2_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,400},{108,109}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{108,109}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>boss2_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,918},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{102,102}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>boss2_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,900},{57,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,64}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>boss2_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,396},{67,92}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,92}}</string>
                <key>sourceSize</key>
                <string>{69,94}</string>
            </dict>
            <key>boss2_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,598},{124,128}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{126,130}</string>
            </dict>
            <key>boss2_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{111,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,110}}</string>
                <key>sourceSize</key>
                <string>{111,114}</string>
            </dict>
            <key>boss2_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,115},{64,71}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,71}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>boss2_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,901},{116,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{116,117}}</string>
                <key>sourceSize</key>
                <string>{118,123}</string>
            </dict>
            <key>boss2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,901},{91,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,120}}</string>
                <key>sourceSize</key>
                <string>{91,120}</string>
            </dict>
            <key>boss2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,932},{68,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,83}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>boss2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,556},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>boss2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,297},{51,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,101}}</string>
                <key>sourceSize</key>
                <string>{51,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss2.png</string>
            <key>size</key>
            <string>{664,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:797d211cd5d9bf07093c654581f745fb$</string>
            <key>textureFileName</key>
            <string>boss2.png</string>
        </dict>
    </dict>
</plist>
