<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boy_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,201},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>boy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,337},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>boy_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,318},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>boy_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,225},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>boy_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,336},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>boy_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,226},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>boy_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,114},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>boy_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,114},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>boy_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,131},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>boy_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,205},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>boy_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,451},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>boy_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,317},{9,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,16}}</string>
                <key>sourceSize</key>
                <string>{9,16}</string>
            </dict>
            <key>boy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,349},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>boy_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,349},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
            <key>boy_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,114},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>boy_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,226},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>boy_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,117},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
            <key>boy_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,226},{20,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,50}}</string>
                <key>sourceSize</key>
                <string>{20,50}</string>
            </dict>
            <key>boy_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,226},{23,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,9}}</string>
                <key>sourceSize</key>
                <string>{23,9}</string>
            </dict>
            <key>boy_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,503},{17,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,7}}</string>
                <key>sourceSize</key>
                <string>{17,7}</string>
            </dict>
            <key>boy_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,226},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>boy_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,502},{26,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,8}}</string>
                <key>sourceSize</key>
                <string>{26,8}</string>
            </dict>
            <key>boy_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,83},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>boy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,80},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>boy_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,226},{22,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{22,10}</string>
            </dict>
            <key>boy_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,205},{19,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,10}}</string>
                <key>sourceSize</key>
                <string>{19,10}</string>
            </dict>
            <key>boy_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,318},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>boy_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,338},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>boy_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,118},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
            <key>boy_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,117},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>boy_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,85},{30,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{30,51}</string>
            </dict>
            <key>boy_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,503},{18,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,7}}</string>
                <key>sourceSize</key>
                <string>{18,7}</string>
            </dict>
            <key>boy_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,446},{54,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,30}}</string>
                <key>sourceSize</key>
                <string>{54,30}</string>
            </dict>
            <key>boy_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,205},{19,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,10}}</string>
                <key>sourceSize</key>
                <string>{19,10}</string>
            </dict>
            <key>boy_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,117},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>boy_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,318},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>boy_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,503},{8,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,5}}</string>
                <key>sourceSize</key>
                <string>{8,5}</string>
            </dict>
            <key>boy_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,205},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>boy_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>boy_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,503},{7,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,16}}</string>
                <key>sourceSize</key>
                <string>{7,16}</string>
            </dict>
            <key>boy_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,318},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>boy_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{48,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,79}}</string>
                <key>sourceSize</key>
                <string>{48,79}</string>
            </dict>
            <key>boy_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{48,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,81}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
            <key>boy_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>boy_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,131},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>boy_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,85},{31,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,18}}</string>
                <key>sourceSize</key>
                <string>{31,18}</string>
            </dict>
            <key>boy_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,364},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>boy_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,361},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>boy_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,249},{87,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,78}}</string>
                <key>sourceSize</key>
                <string>{87,78}</string>
            </dict>
            <key>boy_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,220},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>boy_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,251},{96,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,52}}</string>
                <key>sourceSize</key>
                <string>{96,52}</string>
            </dict>
            <key>boy_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,468},{95,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,33}}</string>
                <key>sourceSize</key>
                <string>{95,33}</string>
            </dict>
            <key>boy_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,248},{67,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,25}}</string>
                <key>sourceSize</key>
                <string>{67,25}</string>
            </dict>
            <key>boy_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,131},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>boy_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,248},{68,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,25}}</string>
                <key>sourceSize</key>
                <string>{68,25}</string>
            </dict>
            <key>boy_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{68,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,26}}</string>
                <key>sourceSize</key>
                <string>{68,26}</string>
            </dict>
            <key>boy_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,349},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>boy_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,248},{68,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,25}}</string>
                <key>sourceSize</key>
                <string>{68,25}</string>
            </dict>
            <key>boy_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,248},{68,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,25}}</string>
                <key>sourceSize</key>
                <string>{68,25}</string>
            </dict>
            <key>boy_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,183},{48,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,25}}</string>
                <key>sourceSize</key>
                <string>{48,25}</string>
            </dict>
            <key>boy_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,72},{48,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,25}}</string>
                <key>sourceSize</key>
                <string>{48,25}</string>
            </dict>
            <key>boy_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,338},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>boy_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{102,102}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>boy_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,364},{64,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,102}}</string>
                <key>sourceSize</key>
                <string>{66,102}</string>
            </dict>
            <key>boy_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,468},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>boy_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{111,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,110}}</string>
                <key>sourceSize</key>
                <string>{111,114}</string>
            </dict>
            <key>boy_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,132},{67,92}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,92}}</string>
                <key>sourceSize</key>
                <string>{69,94}</string>
            </dict>
            <key>boy_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,468},{38,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{40,23}</string>
            </dict>
            <key>boy_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,468},{19,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,34}</string>
            </dict>
            <key>boy_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{116,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{116,117}}</string>
                <key>sourceSize</key>
                <string>{118,123}</string>
            </dict>
            <key>boy_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,446},{64,71}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,71}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>boy_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,128}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{126,130}</string>
            </dict>
            <key>boy_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,338},{26,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,17}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>boy_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,451},{57,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,64}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>boy_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,226},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>boy_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,338},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>boy_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,338},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>boy_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,226},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>boy_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,336},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>boy_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,318},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boy.png</string>
            <key>size</key>
            <string>{364,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db5ba4f47a1fd2484c77160c29c29cd3$</string>
            <key>textureFileName</key>
            <string>boy.png</string>
        </dict>
    </dict>
</plist>
