<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dama_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,344},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>dama_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,344},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>dama_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,240},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>dama_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,240},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>dama_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,344},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>dama_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,226},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>dama_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,475},{41,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,35}}</string>
                <key>sourceSize</key>
                <string>{41,35}</string>
            </dict>
            <key>dama_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,467},{22,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,43}}</string>
                <key>sourceSize</key>
                <string>{22,43}</string>
            </dict>
            <key>dama_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,104},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>dama_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,467},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>dama_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,227},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>dama_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,129},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>dama_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,100},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,30}</string>
            </dict>
            <key>dama_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,325},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>dama_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,129},{29,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,19}}</string>
                <key>sourceSize</key>
                <string>{29,19}</string>
            </dict>
            <key>dama_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,132},{92,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,81}}</string>
                <key>sourceSize</key>
                <string>{92,81}</string>
            </dict>
            <key>dama_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,210},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>dama_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{100,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,87}}</string>
                <key>sourceSize</key>
                <string>{100,87}</string>
            </dict>
            <key>dama_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,344},{29,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,18}}</string>
                <key>sourceSize</key>
                <string>{29,18}</string>
            </dict>
            <key>dama_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,96},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>dama_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{92,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,79}}</string>
                <key>sourceSize</key>
                <string>{92,79}</string>
            </dict>
            <key>dama_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,363},{102,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,87}}</string>
                <key>sourceSize</key>
                <string>{102,87}</string>
            </dict>
            <key>dama_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,251},{111,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,87}}</string>
                <key>sourceSize</key>
                <string>{111,87}</string>
            </dict>
            <key>dama_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,475},{33,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>dama_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,132},{106,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,91}}</string>
                <key>sourceSize</key>
                <string>{106,91}</string>
            </dict>
            <key>dama_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>dama_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,235},{48,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,21}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>dama_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,239},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>dama_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,482},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>dama_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,325},{23,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,16}}</string>
                <key>sourceSize</key>
                <string>{23,16}</string>
            </dict>
            <key>dama_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,300},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>dama_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,475},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>dama_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,159},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>dama_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{96,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,70}}</string>
                <key>sourceSize</key>
                <string>{96,70}</string>
            </dict>
            <key>dama_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,467},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>dama_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,107},{20,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,29}}</string>
                <key>sourceSize</key>
                <string>{20,29}</string>
            </dict>
            <key>dama_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,96},{19,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,34}</string>
            </dict>
            <key>dama_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,254},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>dama_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,104},{61,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,26}}</string>
                <key>sourceSize</key>
                <string>{61,26}</string>
            </dict>
            <key>dama_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,344},{26,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,17}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>dama_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,246},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>dama_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,219},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>dama_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,431},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>dama_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,277},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>dama_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,176},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>dama_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>dama_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,343},{30,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{30,14}</string>
            </dict>
            <key>dama_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,475},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>dama_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,323},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>dama_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,482},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>dama_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,98},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>dama_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>dama_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,300},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>dama_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,80},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>dama_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,76},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>dama_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,482},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>dama_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,100},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>dama_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,254},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>dama_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,150},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>dama_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,96},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>dama_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,431},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>dama_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,201},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>dama_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,193},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>dama_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,51},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>dama_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,54},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>dama_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,325},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>dama_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,26},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>dama_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,71},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>dama_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,432},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>dama_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,28},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>dama_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>dama_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,432},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>dama_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,100},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>dama_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,133},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>dama_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,210},{56,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,23}}</string>
                <key>sourceSize</key>
                <string>{56,23}</string>
            </dict>
            <key>dama_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,185},{56,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,23}}</string>
                <key>sourceSize</key>
                <string>{56,23}</string>
            </dict>
            <key>dama_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,358},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>dama_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,358},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>dama_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,465},{38,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{40,23}</string>
            </dict>
            <key>dama_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,359},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>dama_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,132},{55,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,98}}</string>
                <key>sourceSize</key>
                <string>{55,98}</string>
            </dict>
            <key>dama_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{68,67}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>dama_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,364},{108,109}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{108,109}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>dama_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,240},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{102,102}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>dama_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,128}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{126,130}</string>
            </dict>
            <key>dama_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{111,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,110}}</string>
                <key>sourceSize</key>
                <string>{111,114}</string>
            </dict>
            <key>dama_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{116,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{116,117}}</string>
                <key>sourceSize</key>
                <string>{118,123}</string>
            </dict>
            <key>dama_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,344},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dama.png</string>
            <key>size</key>
            <string>{511,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e5e3dc4cb89fa89e8a51abca3acde8a$</string>
            <key>textureFileName</key>
            <string>dama.png</string>
        </dict>
    </dict>
</plist>
