<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dead_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,189},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>dead_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{67,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,25}}</string>
                <key>sourceSize</key>
                <string>{67,25}</string>
            </dict>
            <key>dead_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,386},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>dead_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>dead_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>dead_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,323},{68,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,25}}</string>
                <key>sourceSize</key>
                <string>{68,25}</string>
            </dict>
            <key>dead_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,295},{68,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,26}}</string>
                <key>sourceSize</key>
                <string>{68,26}</string>
            </dict>
            <key>dead_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{68,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,25}}</string>
                <key>sourceSize</key>
                <string>{68,25}</string>
            </dict>
            <key>dead_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,268},{68,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,25}}</string>
                <key>sourceSize</key>
                <string>{68,25}</string>
            </dict>
            <key>dead_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,57},{48,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,25}}</string>
                <key>sourceSize</key>
                <string>{48,25}</string>
            </dict>
            <key>dead_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,30},{48,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,25}}</string>
                <key>sourceSize</key>
                <string>{48,25}</string>
            </dict>
            <key>dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,349},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>dead_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,299},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>dead_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,98}}</string>
                <key>sourceSize</key>
                <string>{55,98}</string>
            </dict>
            <key>dead_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,420},{28,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,15}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>dead_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,274},{48,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,21}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>dead_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,189},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>dead_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,395},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>dead_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{23,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,16}}</string>
                <key>sourceSize</key>
                <string>{23,16}</string>
            </dict>
            <key>dead_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,371},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>dead_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,138},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>dead_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{96,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,70}}</string>
                <key>sourceSize</key>
                <string>{96,70}</string>
            </dict>
            <key>dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,109},{87,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,78}}</string>
                <key>sourceSize</key>
                <string>{87,78}</string>
            </dict>
            <key>dead_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,382},{20,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,29}}</string>
                <key>sourceSize</key>
                <string>{20,29}</string>
            </dict>
            <key>dead_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,396},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>dead_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,110},{61,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,26}}</string>
                <key>sourceSize</key>
                <string>{61,26}</string>
            </dict>
            <key>dead_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,399},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>dead_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>dead_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,268},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>dead_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,425},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>dead_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,325},{30,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{30,14}</string>
            </dict>
            <key>dead_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,325},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>dead_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,350},{19,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,34}</string>
            </dict>
            <key>dead_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,324},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>dead_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,404},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>dead_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,355},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>dead_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,386},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>dead_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,428},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>dead_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,437},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>dead_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,408},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>dead_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,374},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>dead_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,371},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>dead_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,434},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>dead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>dead_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,423},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>dead_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,371},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>dead_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,399},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>dead_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,362},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>dead_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,361},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>dead_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,350},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>dead_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,423},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>dead_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>dead_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,338},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>dead_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>dead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{96,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,52}}</string>
                <key>sourceSize</key>
                <string>{96,52}</string>
            </dict>
            <key>dead_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,84},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>dead_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,274},{56,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,23}}</string>
                <key>sourceSize</key>
                <string>{56,23}</string>
            </dict>
            <key>dead_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,164},{56,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,23}}</string>
                <key>sourceSize</key>
                <string>{56,23}</string>
            </dict>
            <key>dead_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>dead_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>dead_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>dead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,392},{26,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,17}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>dead_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,74},{95,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,33}}</string>
                <key>sourceSize</key>
                <string>{95,33}</string>
            </dict>
            <key>dead_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,419},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dead.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c6c85623ff4438954f0b971bca6898f$</string>
            <key>textureFileName</key>
            <string>dead.png</string>
        </dict>
    </dict>
</plist>
