<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{38,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{40,23}</string>
            </dict>
            <key>hero_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,231},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,21}</string>
            </dict>
            <key>hero_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,113},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,35}</string>
            </dict>
            <key>hero_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{57,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,46}}</string>
                <key>sourceSize</key>
                <string>{57,46}</string>
            </dict>
            <key>hero_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,182},{11,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>hero_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,141},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,35}</string>
            </dict>
            <key>hero_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{59,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,49}}</string>
                <key>sourceSize</key>
                <string>{59,49}</string>
            </dict>
            <key>hero_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,79},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>hero_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,125},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>hero_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,76},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>hero_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{45,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,58}}</string>
                <key>sourceSize</key>
                <string>{45,58}</string>
            </dict>
            <key>hero_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,145},{24,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>hero_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,52},{25,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{27,35}</string>
            </dict>
            <key>hero_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{40,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,59}}</string>
                <key>sourceSize</key>
                <string>{40,59}</string>
            </dict>
            <key>hero_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,106},{24,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>hero_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>hero_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,150},{24,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>hero_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,39},{25,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{27,35}</string>
            </dict>
            <key>hero_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>hero_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,27},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{23,36}</string>
            </dict>
            <key>hero_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,40},{23,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,35}}</string>
                <key>sourceSize</key>
                <string>{23,35}</string>
            </dict>
            <key>hero_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,132},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>hero_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>hero_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,63},{38,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,53}}</string>
                <key>sourceSize</key>
                <string>{38,53}</string>
            </dict>
            <key>hero_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,144},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>hero_1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,199},{11,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{11,19}}</string>
                <key>sourceSize</key>
                <string>{13,21}</string>
            </dict>
            <key>hero_1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,241},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>hero_1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,129},{13,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,21}}</string>
                <key>sourceSize</key>
                <string>{13,23}</string>
            </dict>
            <key>hero_1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,231},{12,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,19}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>hero_1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,210},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,21}</string>
            </dict>
            <key>hero_1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,220},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{11,19}}</string>
                <key>sourceSize</key>
                <string>{13,21}</string>
            </dict>
            <key>hero_1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,128},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>hero_1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,195},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,21}</string>
            </dict>
            <key>hero_1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,74},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>hero_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{23,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>hero_1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,55},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>hero_1_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,182},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>hero_1_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,192},{15,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>hero_1_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,113},{14,21}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>hero_1_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,220},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>hero_1_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,107},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>hero_1_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,212},{17,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>hero_1_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,92},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>hero_1_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,42},{11,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,22}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
            <key>hero_1_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,192},{12,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,17}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>hero_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,55},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>hero_1_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,240},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{12,17}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>hero_1_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,109},{17,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,20}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>hero_1_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,124},{15,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{15,21}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>hero_1_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,107},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>hero_1_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,199},{11,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{11,19}}</string>
                <key>sourceSize</key>
                <string>{13,21}</string>
            </dict>
            <key>hero_1_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{11,9}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{11,9}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>hero_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,77},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,34}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>hero_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>hero_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,210},{12,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,19}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>hero_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,178},{12,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_1.png</string>
            <key>size</key>
            <string>{254,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba0d959bf16eb5557a17dbd6da9e025a$</string>
            <key>textureFileName</key>
            <string>hero_1.png</string>
        </dict>
    </dict>
</plist>
