<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,260},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>hero0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,206},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>hero0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,251},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>hero0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{14,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>hero0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,205},{40,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,25}}</string>
                <key>sourceSize</key>
                <string>{40,25}</string>
            </dict>
            <key>hero0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,155},{53,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>hero0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
            <key>hero0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,205},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>hero0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,49}}</string>
                <key>sourceSize</key>
                <string>{54,49}</string>
            </dict>
            <key>hero0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>hero0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,133},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>hero0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{53,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>hero0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,209},{36,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,17}}</string>
                <key>sourceSize</key>
                <string>{36,17}</string>
            </dict>
            <key>hero0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,256},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>hero0_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,260},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>hero0_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,228},{13,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,22}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
            <key>hero0_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,245},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>hero0_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>hero0_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,204},{13,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,22}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
            <key>hero0_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>hero0_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,205},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>hero0_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,252},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
            <key>hero0_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,226},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>hero0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,175},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>hero0_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,298},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>hero0_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{13,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,21}}</string>
                <key>sourceSize</key>
                <string>{13,21}</string>
            </dict>
            <key>hero0_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,47},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>hero0_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,206},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>hero0_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,261},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>hero0_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,32},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>hero0_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>hero0_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,261},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>hero0_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,17},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>hero0_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>hero0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,104},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,49}}</string>
                <key>sourceSize</key>
                <string>{54,49}</string>
            </dict>
            <key>hero0_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,264},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>hero0_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,255},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>hero0_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,283},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>hero0_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>hero0_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,283},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>hero0_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,237},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>hero0_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,275},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>hero0_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,250},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>hero0_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,266},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>hero0_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,312},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>hero0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,275},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>hero0_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,298},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>hero0_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,228},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>hero0_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>hero0_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,237},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>hero0_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,204},{40,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,31}}</string>
                <key>sourceSize</key>
                <string>{40,31}</string>
            </dict>
            <key>hero0_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,155},{53,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>hero0_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,236},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>hero0_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,237},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>hero0_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>hero0_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,265},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>hero0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,63},{40,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,23}}</string>
                <key>sourceSize</key>
                <string>{40,23}</string>
            </dict>
            <key>hero0_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,232},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>hero0_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,105},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>hero0_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,265},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>hero0_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,52},{55,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,50}}</string>
                <key>sourceSize</key>
                <string>{55,50}</string>
            </dict>
            <key>hero0_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,273},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>hero0_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{55,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,50}}</string>
                <key>sourceSize</key>
                <string>{55,50}</string>
            </dict>
            <key>hero0_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,267},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>hero0_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,154},{53,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>hero0_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,267},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>hero0_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,54},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,49}}</string>
                <key>sourceSize</key>
                <string>{54,49}</string>
            </dict>
            <key>hero0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,105},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>hero0_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,236},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
            <key>hero0_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{55,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,49}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>hero0_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,290},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>hero0_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,49}}</string>
                <key>sourceSize</key>
                <string>{56,49}</string>
            </dict>
            <key>hero0_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,222},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
            <key>hero0_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,104},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>hero0_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,221},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>hero0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,53},{55,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,49}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>hero0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,281},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero0.png</string>
            <key>size</key>
            <string>{256,329}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af58cd3e4934bcc10440d32b6e3b6dfd$</string>
            <key>textureFileName</key>
            <string>hero0.png</string>
        </dict>
    </dict>
</plist>
