<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lianye_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,373},{73,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,46}}</string>
                <key>sourceSize</key>
                <string>{73,46}</string>
            </dict>
            <key>lianye_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,447},{61,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,41}}</string>
                <key>sourceSize</key>
                <string>{61,41}</string>
            </dict>
            <key>lianye_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,421},{77,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,72}}</string>
                <key>sourceSize</key>
                <string>{77,72}</string>
            </dict>
            <key>lianye_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>lianye_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,294},{77,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,72}}</string>
                <key>sourceSize</key>
                <string>{77,72}</string>
            </dict>
            <key>lianye_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,424},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>lianye_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>lianye_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{64,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,102}}</string>
                <key>sourceSize</key>
                <string>{66,102}</string>
            </dict>
            <key>lianye_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,241},{67,92}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,92}}</string>
                <key>sourceSize</key>
                <string>{69,94}</string>
            </dict>
            <key>lianye_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,127},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>lianye_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{111,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,112}}</string>
                <key>sourceSize</key>
                <string>{111,114}</string>
            </dict>
            <key>lianye_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,245},{68,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,46}}</string>
                <key>sourceSize</key>
                <string>{68,46}</string>
            </dict>
            <key>lianye_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,335},{87,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,78}}</string>
                <key>sourceSize</key>
                <string>{87,78}</string>
            </dict>
            <key>lianye_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,82},{64,71}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,71}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>lianye_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,123}}</string>
                <key>sourceSize</key>
                <string>{118,123}</string>
            </dict>
            <key>lianye_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,212},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>lianye_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,349},{96,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,52}}</string>
                <key>sourceSize</key>
                <string>{96,52}</string>
            </dict>
            <key>lianye_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{57,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,64}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>lianye_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{78,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,57}}</string>
                <key>sourceSize</key>
                <string>{78,57}</string>
            </dict>
            <key>lianye_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{70,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,53}}</string>
                <key>sourceSize</key>
                <string>{70,53}</string>
            </dict>
            <key>lianye_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,293},{73,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,67}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>lianye_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>lianye_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,84},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>lianye_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,166},{77,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,55}}</string>
                <key>sourceSize</key>
                <string>{77,55}</string>
            </dict>
            <key>lianye_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,212},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lianye.png</string>
            <key>size</key>
            <string>{392,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b45367c45a667194fe5164aed39336b$</string>
            <key>textureFileName</key>
            <string>lianye.png</string>
        </dict>
    </dict>
</plist>
