<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhizhu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{77,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{77,42}}</string>
                <key>sourceSize</key>
                <string>{81,46}</string>
            </dict>
            <key>zhizhu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,464},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>zhizhu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,230},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>zhizhu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,81},{15,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,57}}</string>
                <key>sourceSize</key>
                <string>{15,57}</string>
            </dict>
            <key>zhizhu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,230},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>zhizhu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,215},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>zhizhu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,230},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>zhizhu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,99},{27,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,52}}</string>
                <key>sourceSize</key>
                <string>{29,52}</string>
            </dict>
            <key>zhizhu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,126},{14,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,57}}</string>
                <key>sourceSize</key>
                <string>{14,57}</string>
            </dict>
            <key>zhizhu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,98},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>zhizhu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,98},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{14,24}</string>
            </dict>
            <key>zhizhu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,48},{14,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,23}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>zhizhu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,487},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>zhizhu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>zhizhu_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,230},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>zhizhu_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,355},{7,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{7,18}}</string>
                <key>sourceSize</key>
                <string>{7,20}</string>
            </dict>
            <key>zhizhu_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,474},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>zhizhu_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,397},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>zhizhu_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,211},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>zhizhu_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,73},{14,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,23}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>zhizhu_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,229},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>zhizhu_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,48},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>zhizhu_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,441},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>zhizhu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,324},{25,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,53}}</string>
                <key>sourceSize</key>
                <string>{25,55}</string>
            </dict>
            <key>zhizhu_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{86,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{86,95}}</string>
                <key>sourceSize</key>
                <string>{86,99}</string>
            </dict>
            <key>zhizhu_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,364},{108,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,89}}</string>
                <key>sourceSize</key>
                <string>{108,91}</string>
            </dict>
            <key>zhizhu_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,355},{55,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,98}}</string>
                <key>sourceSize</key>
                <string>{55,98}</string>
            </dict>
            <key>zhizhu_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,99},{28,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,15}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>zhizhu_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,128},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>zhizhu_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,75},{48,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,21}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>zhizhu_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,474},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>zhizhu_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,185},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>zhizhu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,351},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>zhizhu_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,132},{96,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,70}}</string>
                <key>sourceSize</key>
                <string>{96,70}</string>
            </dict>
            <key>zhizhu_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{19,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,34}</string>
            </dict>
            <key>zhizhu_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,99},{61,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,26}}</string>
                <key>sourceSize</key>
                <string>{61,26}</string>
            </dict>
            <key>zhizhu_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,324},{26,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,17}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>zhizhu_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,251},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>zhizhu_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,321},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>zhizhu_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,474},{30,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{30,14}</string>
            </dict>
            <key>zhizhu_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,441},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>zhizhu_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,474},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>zhizhu_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,229},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>zhizhu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,474},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>zhizhu_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,474},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>zhizhu_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,75},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>zhizhu_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,475},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>zhizhu_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,475},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>zhizhu_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,475},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>zhizhu_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,475},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>zhizhu_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,215},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>zhizhu_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,126},{56,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,23}}</string>
                <key>sourceSize</key>
                <string>{56,23}</string>
            </dict>
            <key>zhizhu_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,126},{56,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,23}}</string>
                <key>sourceSize</key>
                <string>{56,23}</string>
            </dict>
            <key>zhizhu_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>zhizhu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,98},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>zhizhu_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>zhizhu_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>zhizhu_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,251},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{68,67}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>zhizhu_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{108,109}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{108,109}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>zhizhu_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,251},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{102,102}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>zhizhu_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,128}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{126,130}</string>
            </dict>
            <key>zhizhu_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{111,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,110}}</string>
                <key>sourceSize</key>
                <string>{111,114}</string>
            </dict>
            <key>zhizhu_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{116,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{116,117}}</string>
                <key>sourceSize</key>
                <string>{118,123}</string>
            </dict>
            <key>zhizhu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,230},{9,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,19}}</string>
                <key>sourceSize</key>
                <string>{9,19}</string>
            </dict>
            <key>zhizhu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,455},{17,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,57}}</string>
                <key>sourceSize</key>
                <string>{17,57}</string>
            </dict>
            <key>zhizhu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,215},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhizhu.png</string>
            <key>size</key>
            <string>{382,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b0222136a0955e87061e7b08f82f7b1$</string>
            <key>textureFileName</key>
            <string>zhizhu.png</string>
        </dict>
    </dict>
</plist>
