<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>saodeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{219,35}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{219,35}}</string>
                <key>sourceSize</key>
                <string>{255,53}</string>
            </dict>
            <key>saodeng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{229,35}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{229,35}}</string>
                <key>sourceSize</key>
                <string>{255,53}</string>
            </dict>
            <key>saodeng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{239,35}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{239,35}}</string>
                <key>sourceSize</key>
                <string>{255,53}</string>
            </dict>
            <key>saodeng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{249,35}}</string>
                <key>sourceSize</key>
                <string>{255,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2075ad47aa266ae75edc047d0c614f65:2dd4b068c59fd6eaf8730ba1a41cf84c:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
