<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>X.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,782},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>an_guanyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1382},{117,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{117,68}}</string>
                <key>sourceSize</key>
                <string>{121,70}</string>
            </dict>
            <key>an_moregame.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1512},{117,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{117,66}}</string>
                <key>sourceSize</key>
                <string>{121,66}</string>
            </dict>
            <key>an_xrwdc01.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,79},{154,51}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{154,51}}</string>
                <key>sourceSize</key>
                <string>{158,61}</string>
            </dict>
            <key>an_xrwdc02.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1319},{158,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,61}}</string>
                <key>sourceSize</key>
                <string>{158,61}</string>
            </dict>
            <key>bc_an_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1556},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>bc_an_guanbi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1448},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>bc_an_lqhjq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1319},{252,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,74}}</string>
                <key>sourceSize</key>
                <string>{252,74}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,75}}</string>
                <key>sourceSize</key>
                <string>{800,75}</string>
            </dict>
            <key>duihuakuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{543,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{543,74}}</string>
                <key>sourceSize</key>
                <string>{545,74}</string>
            </dict>
            <key>guaizidan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1204},{69,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,22}}</string>
                <key>sourceSize</key>
                <string>{69,22}</string>
            </dict>
            <key>iconL_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,132},{152,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{152,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>iconfengmianzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,809},{443,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,164}}</string>
                <key>sourceSize</key>
                <string>{443,164}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1056},{44,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,74}}</string>
                <key>sourceSize</key>
                <string>{44,74}</string>
            </dict>
            <key>jiantou_yaogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1270},{60,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>jiantou_yaogan_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,335},{151,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,29}}</string>
                <key>sourceSize</key>
                <string>{151,29}</string>
            </dict>
            <key>pai_jinabi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1509},{178,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>pai_jinbi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1509},{178,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>pai_jinbi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1257},{102,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,117}}</string>
                <key>sourceSize</key>
                <string>{102,117}</string>
            </dict>
            <key>pai_wuqi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,644},{206,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,136}}</string>
                <key>sourceSize</key>
                <string>{206,136}</string>
            </dict>
            <key>pai_wuqi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,574},{206,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,136}}</string>
                <key>sourceSize</key>
                <string>{206,136}</string>
            </dict>
            <key>pai_wuqi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,366},{206,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,136}}</string>
                <key>sourceSize</key>
                <string>{206,136}</string>
            </dict>
            <key>pai_wuqi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,278},{206,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,136}}</string>
                <key>sourceSize</key>
                <string>{206,136}</string>
            </dict>
            <key>pai_wuqi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,140},{206,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,136}}</string>
                <key>sourceSize</key>
                <string>{206,136}</string>
            </dict>
            <key>pai_wuqi06.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{206,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,136}}</string>
                <key>sourceSize</key>
                <string>{206,136}</string>
            </dict>
            <key>pai_zuaanshi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1492},{178,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>pai_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1332},{178,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>pai_zuanshi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1376},{178,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>pai_zuanshi021.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,690},{102,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,117}}</string>
                <key>sourceSize</key>
                <string>{102,117}</string>
            </dict>
            <key>quan_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,595},{74,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,41}}</string>
                <key>sourceSize</key>
                <string>{74,41}</string>
            </dict>
            <key>renwu_an_lq.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1594},{82,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,53}}</string>
                <key>sourceSize</key>
                <string>{82,53}</string>
            </dict>
            <key>renwu_an_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,286},{151,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,47}}</string>
                <key>sourceSize</key>
                <string>{151,47}</string>
            </dict>
            <key>renwu_an_wwc.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1594},{82,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,53}}</string>
                <key>sourceSize</key>
                <string>{82,53}</string>
            </dict>
            <key>renwu_an_ylq.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1556},{82,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,53}}</string>
                <key>sourceSize</key>
                <string>{82,53}</string>
            </dict>
            <key>renwu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{644,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{644,438}}</string>
                <key>sourceSize</key>
                <string>{646,438}</string>
            </dict>
            <key>renwu_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,519},{99,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,169}}</string>
                <key>sourceSize</key>
                <string>{99,169}</string>
            </dict>
            <key>swuqi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1649},{72,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,61}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>swuqi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,868},{71,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,65}}</string>
                <key>sourceSize</key>
                <string>{73,65}</string>
            </dict>
            <key>swuqi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1661},{71,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,62}}</string>
                <key>sourceSize</key>
                <string>{71,62}</string>
            </dict>
            <key>swuqi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1184},{82,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,71}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>swuqi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1598},{72,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,61}}</string>
                <key>sourceSize</key>
                <string>{72,61}</string>
            </dict>
            <key>swuqi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,66}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>tehui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1395},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>tishi_hdwq.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,416},{228,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,226}}</string>
                <key>sourceSize</key>
                <string>{228,226}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{417,383}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{417,383}}</string>
                <key>sourceSize</key>
                <string>{421,391}</string>
            </dict>
            <key>touxiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1246},{261,381}}</string>
                <key>offset</key>
                <string>{-67,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{261,381}}</string>
                <key>sourceSize</key>
                <string>{421,391}</string>
            </dict>
            <key>yigoumai.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1193},{78,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
            <key>yihuode.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1649},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>zhuanpan_an_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1666},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>zhuanpan_an_kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1580},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,92}}</string>
                <key>sourceSize</key>
                <string>{91,92}</string>
            </dict>
            <key>zhuanpan_icon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1109},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>zhuanpan_icon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1025},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>zhuanpan_icon04.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,941},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>zi_diyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,711},{68,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,36}}</string>
                <key>sourceSize</key>
                <string>{68,36}</string>
            </dict>
            <key>zi_djjx.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,919},{116,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,26}}</string>
                <key>sourceSize</key>
                <string>{116,26}</string>
            </dict>
            <key>zi_guanyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1041},{402,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,203}}</string>
                <key>sourceSize</key>
                <string>{402,203}</string>
            </dict>
            <key>zi_guanyu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{500,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,271}}</string>
                <key>sourceSize</key>
                <string>{500,271}</string>
            </dict>
            <key>zi_jiatltishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{433,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{433,64}}</string>
                <key>sourceSize</key>
                <string>{433,66}</string>
            </dict>
            <key>zi_kunnan.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,850},{67,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,36}}</string>
                <key>sourceSize</key>
                <string>{67,36}</string>
            </dict>
            <key>zi_libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,806},{52,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,31}}</string>
                <key>sourceSize</key>
                <string>{52,31}</string>
            </dict>
            <key>zi_libao_16x27.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,644},{160,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,27}}</string>
                <key>sourceSize</key>
                <string>{160,27}</string>
            </dict>
            <key>zi_putong.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,781},{67,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,36}}</string>
                <key>sourceSize</key>
                <string>{67,36}</string>
            </dict>
            <key>zi_sqjb.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,975},{412,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{412,64}}</string>
                <key>sourceSize</key>
                <string>{414,66}</string>
            </dict>
            <key>zi_tejia.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,860},{276,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{276,26}}</string>
                <key>sourceSize</key>
                <string>{278,26}</string>
            </dict>
            <key>zi_tishi02ff.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,782},{84,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,25}}</string>
                <key>sourceSize</key>
                <string>{84,25}</string>
            </dict>
            <key>zi_tishi0fd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1138},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,46}</string>
            </dict>
            <key>zi_tishi0fd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,782},{104,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,25}}</string>
                <key>sourceSize</key>
                <string>{104,25}</string>
            </dict>
            <key>zi_tishsai04.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1118},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,26}</string>
            </dict>
            <key>zi_yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,671},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>zi_zsx120.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1395},{51,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,42}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>zi_zsx20.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,975},{79,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,25}}</string>
                <key>sourceSize</key>
                <string>{79,25}</string>
            </dict>
            <key>zi_zsx55.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1037},{79,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,25}}</string>
                <key>sourceSize</key>
                <string>{79,25}</string>
            </dict>
            <key>zi_zsx90.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,782},{79,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,25}}</string>
                <key>sourceSize</key>
                <string>{79,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mf_p.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ab46c2a69fc471bd35b7446ae9a7c23$</string>
            <key>textureFileName</key>
            <string>mf_p.pvr.ccz</string>
        </dict>
    </dict>
</plist>
